**/src*
**/coverage
**/.babelrc
**/node_modules
**/test
**/flow
**/flow-typed
**/.circleci

# Files
**/errors.json
**/wallaby.js
**/.babelrc
**/.eslintignore
**/.eslintrc
**/.flowconfig
**/.gitignore
