**/src*
**/coverage
**/.babelrc
**/node_modules
**/test
**/flow
**/flow-typed
**/.circleci
dist/*.html
dist/*.test.js
**/www

# Files
**/errors.json
**/wallaby.js
**/.babelrc
**/.eslintignore
**/.eslintrc
**/.flowconfig
**/.gitignore
**/webpack.config.js
**/tsconfig.json