
@mixin ReaderComponentWrapper {
  width: 100%;
  white-space: pre-wrap;
  padding-bottom: 10px;
  padding-top: 10px;
  height: auto;
  display: inline-grid;
  position: relative;
  float: left;
}

div.reader-component-wrapper {
  @include ReaderComponentWrapper;

  h1  {
    text-align: center;
    font-size: 2em;
    float: left;
  }
  
  h2 {
    font-size: 1.5em;
    float: left;
  }
  
  h3 {
    font-size: 1.3em;
    float: left;
  }
}

div.component-type {
  float: left;
  min-height: 12px;
}

span.bold {
  font-weight: bold;
}

span.italic {
  font-style: italic;
}

span.underline {
  text-decoration: underline;
}

a.link {
  color: #fd5720;
}

span.selection {
  min-height: 100%;
  display: inline;
  background-color: transparentize($color: #fd5720, $amount: 0.5);
  text-transform: inherit;
}
