div.document-cursor-component {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 1px;
  height: 18px;

  animation: pulse 0.5s infinite alternate;

  @keyframes pulse {
    0% {
      background-color: rgba(255,0,0,0)
    }
    100% {
      background-color: rgba(200,0,0,1)
    }
  }
}