div.document-component-component {
  width: 100%;
  white-space: pre-wrap;
  padding-bottom: 10px;
  padding-top: 10px;
  height: auto;
  display: inline-grid;
  position: relative;
  float: left;

  textarea {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0px;
    opacity: 0.01;
    overflow: hidden;
  }

  span {
    min-height: 100%;
    display: inline;
    background-color: transparentize($color: #fd5720, $amount: 0.5);
    text-transform: inherit;
  }

  .code {
    background-color: #DDD;
    padding: 10px 50px;
  }

  div.component-type {
    float: left;
    min-height: 12px;
  }

  $line : 1px dotted #fd5720;

  div.prepend,
  div.append {
    position: absolute;
    display: none;
    width: 100%;
    height: 1px;
    text-align: center;
  }

  div.prepend {
    border-top: $line;
    top: 0px;
  }

  div.append {
    border-bottom: $line;
    bottom: 0px;
  }

  &.entered {
    div.prepend {
      display: block;
    }

    div.append {
      display: block;
    }

    div.remove {
      display: block;
    }
  }

  &.exited {
    div.prepend {
      display: none;
    }

    div.append {
      display: none;
    }

    div.remove {
      display: none;
    }
  }

  h1  {
    text-align: center;
    font-size: 2em;
    float: left;
  }

  h2 {
    font-size: 1.5em;
    float: left;
  }

  h3 {
    font-size: 1.3em;
    float: left;
  }

  div.remove {
    width: 25px;
    height: 100%;
    position: absolute;
    right: 0px;
    display: none;
  }
}