div.document-component-component {
  width: 100%;
  white-space: pre-wrap;
  margin-bottom: 10px;
  height: auto;

  textarea {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0px;
    opacity: 0.01;
  }

  span {
    min-height: 100%;
    display: inline-flex;
    background-color: transparentize($color: darkred, $amount: 0.5)
  }

  .code {
    background-color: #DDD;
    padding: 10px 50px;
  }

  div.component-type {
    float: left;
  }
}