div.document-component-type-selection {
  position: relative;
  display: inline-flex;
  top: 0px;

  flex-wrap: wrap;
  flex-direction: row;

  $border: 1px solid #BBB;
  $border-radius: 10px;

  background-color: #FFF;

  border: $border;
  border-radius: $border-radius;

  overflow: hidden;

  height: 38px;

  div.button {
    padding: 10px;
    cursor: pointer;

    &:hover {
      animation: hover 0.25s forwards running;
    }
  }

  div.button:not(:last-child) {
    border-right: $border;
  }

  div.drag-indicator {
    float: left;
    height: 100%;
    width: 15px;
    background-color: #BBB;
    color: black;
  }

  svg {
    width: 4px;
    padding: 7px 6px;
  }

  div.save-button {
    width: auto;
    height: 100%;
    float: left;
    background-color: #FFF;
    color: #000;
    padding: 10px;
    border-left: 2px solid #AAA;
  }

  div.partition {
    width: 2px;
    height: 100%;
    float: left;
    background-color: #AAA;
  }
}

@keyframes hover {
  0% {
    background-color: #FFF;
  }
  100% {
    background-color: #DDD;
  }
}