div.document-cursor-component {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 0px;
  height: 18px;

  border-right: {
    width: 1px;
    style: solid;
    color: darkred;
  }

  animation: pulse 0.5s infinite alternate;

  @keyframes pulse {
    0% {
      border-right-color: rgba(255,0,0,0)
    }
    100% {
      border-right-color: rgba(255,0,0,1)
    }
  }
}